#container {
	background-color : black;
	color : #00FF00;
	height: 100%;
	width: 100%;
	font-family: "Courier New", Courier, monospace;
}

#container input {
	background-color: black;
	color : #00FF00;
	width : 100%;
	border: none;
	outline: none;
	font-family: "Courier New", Courier, monospace;
}

#container li {
	padding-left: 15px;
}